@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#252525] rounded-full uppercase text-xs tracking-widest transition-all text-gray-500 hover:border-[#0474BC]/40 hover:text-[#0474BC];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
